@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-pink: #e86a92;
  --clr-pink-light: #ed83a5;
  --clr-black: #2b2d42;
  --clr-yellow: #f7e733;
  --clr-green: #00b894;
  --clr-white: #f7f7f9;
  --clr-selection-bg: #f7f7f9;
  --clr-selection-text: #2b2d42;
}

@font-face {
  font-family: "Chalkboard";
  src: local("Chalkboard"), url(/fonts/Chalkboard.ttc) format("ttc");
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  background: linear-gradient(
    to bottom,
    var(--clr-black) 26%,
    var(--clr-pink-light) 100%
  );
}

::selection {
  background: var(--clr-selection-bg);
  color: var(--clr-selection-text);
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}
